#app {
    width: 290px;
    height: 290px;
    margin: 0 auto;
    position: relative;
    &::before {
        width :10px;
        height: 10px;
        box-shadow: 
        /**/
        0px 10px rgb(0, 0, 0),
        10px 0px rgb(0, 0, 0),
        /**/
        10px 10px rgb(0, 0, 0),
        10px 20px rgb(0, 0, 0),
        /**/
        20px 0px rgb(0, 0, 0),
        20px 10px rgb(0, 0, 0),
        20px 20px rgb(0, 0, 0),
        20px 30px rgb(0, 0, 0),
        20px 40px rgb(0, 0, 0),
        20px 230px rgb(0, 0, 0),
        20px 240px rgb(0, 0, 0),
        /**/
        30px 10px rgb(0, 0, 0),
        30px 20px rgb(251, 255, 3),
        30px 30px rgb(251, 255, 3),
        30px 40px rgb(233, 197, 37),
        30px 50px rgb(0, 0, 0),
        30px 230px rgb(0, 0, 0),
        30px 240px rgb(251, 255, 3),
        30px 250px rgb(0, 0, 0),
        30px 260px rgb(0, 0, 0),
        /**/
        40px 10px rgb(0, 0, 0),
        40px 20px rgb(251, 255, 3),
        40px 30px rgb(251, 255, 3),
        40px 40px rgb(251, 255, 3),
        40px 50px rgb(233, 197, 37),
        40px 60px rgb(0, 0, 0),
        40px 230px rgb(0, 0, 0),
        40px 240px rgb(251, 255, 3),
        40px 250px rgb(233, 197, 37),
        40px 260px rgb(233, 197, 37),
        40px 270px rgb(0, 0, 0),
        /**/
        50px 20px rgb(0, 0, 0),
        50px 30px rgb(251, 255, 3),
        50px 40px rgb(251, 255, 3),
        50px 50px rgb(233, 197, 37),
        50px 60px rgb(233, 197, 37),
        50px 70px rgb(0, 0, 0),
        50px 120px rgb(0, 0, 0),
        50px 130px rgb(0, 0, 0),
        50px 140px rgb(0, 0, 0),
        50px 150px rgb(0, 0, 0),
        50px 210px rgb(0, 0, 0),
        50px 220px rgb(0, 0, 0),
        50px 230px rgb(0, 0, 0),
        50px 240px rgb(0, 0, 0),
        50px 250px rgb(251, 255, 3),
        50px 260px rgb(233, 197, 37),
        50px 270px rgb(233, 197, 37),
        50px 280px rgb(0, 0, 0),
        /**/
        60px 30px rgb(0, 0, 0),
        60px 40px rgb(251, 255, 3),
        60px 50px rgb(251, 255, 3),
        60px 60px rgb(233, 197, 37),
        60px 70px rgb(0, 0, 0),
        60px 90px rgb(0, 0, 0),
        60px 100px rgb(0, 0, 0),
        60px 110px rgb(0, 0, 0),
        60px 120px rgb(233, 197, 37),
        60px 130px rgb(233, 197, 37),
        60px 140px rgb(243, 95, 9),
        60px 150px rgb(243, 95, 9),
        60px 160px rgb(0, 0, 0),
        60px 180px rgb(0, 0, 0),
        60px 190px rgb(0, 0, 0),
        60px 200px rgb(0, 0, 0),
        60px 210px rgb(251, 255, 3),
        60px 220px rgb(251, 255, 3),
        60px 230px rgb(251, 255, 3),
        60px 240px rgb(251, 255, 3),
        60px 250px rgb(233, 197, 37),
        60px 260px rgb(233, 197, 37),
        60px 270px rgb(233, 197, 37),
        60px 280px rgb(0, 0, 0),
        /**/
        70px 40px rgb(0, 0, 0),
        70px 50px rgb(251, 255, 3),
        70px 60px rgb(251, 255, 3),
        70px 70px rgb(0, 0, 0),
        70px 80px rgb(0, 0, 0),
        70px 90px rgb(233, 197, 37),
        70px 100px rgb(233, 197, 37),
        70px 110px rgb(233, 197, 37),
        70px 120px rgb(233, 197, 37),
        70px 130px rgb(233, 197, 37),
        70px 140px rgb(243, 95, 9),
        70px 150px rgb(243, 95, 9),
        70px 160px rgb(243, 95, 9),
        70px 170px rgb(0, 0, 0),
        70px 180px rgb(233, 197, 37),
        70px 190px rgb(233, 197, 37),
        70px 200px rgb(251, 255, 3),
        70px 210px rgb(251, 255, 3),
        70px 220px rgb(251, 255, 3),
        70px 230px rgb(233, 197, 37),
        70px 240px rgb(0, 0, 0),
        70px 250px rgb(0, 0, 0),
        70px 260px rgb(233, 197, 37),
        70px 270px rgb(0, 0, 0),
        70px 280px rgb(0, 0, 0),
        /**/
        80px 50px rgb(0, 0, 0),
        80px 60px rgb(251, 255, 3),
        80px 70px rgb(251, 255, 3),
        80px 80px rgb(251, 255, 3),
        80px 90px rgb(251, 255, 3),
        80px 100px rgb(0, 0, 0),
        80px 110px rgb(0, 0, 0),
        80px 120px rgb(99, 58, 58),
        80px 130px rgb(233, 197, 37),
        80px 140px rgb(233, 197, 37),
        80px 150px rgb(243, 95, 9),
        80px 160px rgb(243, 95, 9),
        80px 170px rgb(0, 0, 0),
        80px 180px rgb(233, 197, 37),
        80px 190px rgb(251, 255, 3),
        80px 200px rgb(251, 255, 3),
        80px 210px rgb(251, 255, 3),
        80px 220px rgb(251, 255, 3),
        80px 230px rgb(233, 197, 37),
        80px 240px rgb(233, 197, 37),
        80px 250px rgb(233, 197, 37),
        80px 260px rgb(0, 0, 0),
        /**/
        90px 60px rgb(0, 0, 0),
        90px 70px rgb(251, 255, 3),
        90px 80px rgb(251, 255, 3),
        90px 90px rgb(251, 255, 3),
        90px 100px rgb(255, 255, 255),
        90px 110px rgb(0, 0, 0),
        90px 120px rgb(99, 58, 58),
        90px 130px rgb(251, 255, 3),
        90px 140px rgb(233, 197, 37),
        90px 150px rgb(233, 197, 37),
        90px 160px rgb(233, 197, 37),
        90px 170px rgb(233, 197, 37),
        90px 180px rgb(0, 0, 0),
        90px 190px rgb(233, 197, 37),
        90px 200px rgb(0, 0, 0),
        90px 210px rgb(251, 255, 3),
        90px 220px rgb(251, 255, 3),
        90px 230px rgb(251, 255, 3),
        90px 240px rgb(251, 255, 3),
        90px 250px rgb(233, 197, 37),
        90px 260px rgb(233, 197, 37),
        90px 270px rgb(0, 0, 0),
        /**/
        100px 50px rgb(0, 0, 0),
        100px 60px rgb(251, 255, 3),
        100px 70px rgb(251, 255, 3),
        100px 80px rgb(251, 255, 3),
        100px 90px rgb(251, 255, 3),
        100px 100px rgb(251, 255, 3),
        100px 110px rgb(251, 255, 3),
        100px 120px rgb(251, 255, 3),
        100px 130px rgb(251, 255, 3),
        100px 140px rgb(0, 0, 0),
        100px 150px rgb(233, 197, 37),
        100px 160px rgb(233, 197, 37),
        100px 170px rgb(233, 197, 37),
        100px 180px rgb(0, 0, 0),
        100px 190px rgb(233, 197, 37),
        100px 200px rgb(233, 197, 37),
        100px 210px rgb(0, 0, 0),
        100px 220px rgb(0, 0, 0),
        100px 230px rgb(251, 255, 3),
        100px 240px rgb(251, 255, 3),
        100px 250px rgb(251, 255, 3),
        100px 260px rgb(233, 197, 37),
        100px 270px rgb(233, 197, 37),
        100px 280px rgb(0, 0, 0),
        /**/
        110px 50px rgb(0, 0, 0),
        110px 60px rgb(251, 255, 3),
        110px 70px rgb(251, 255, 3),
        110px 80px rgb(251, 255, 3),
        110px 90px rgb(251, 255, 3),
        110px 100px rgb(251, 255, 3),
        110px 110px rgb(251, 255, 3),
        110px 120px rgb(251, 255, 3),
        110px 130px rgb(251, 255, 3),
        110px 140px rgb(0, 0, 0),
        110px 150px rgb(0, 0, 0),
        110px 160px rgb(0, 0, 0),
        110px 170px rgb(233, 197, 37),
        110px 180px rgb(233, 197, 37),
        110px 190px rgb(233, 197, 37),
        110px 200px rgb(251, 255, 3),
        110px 210px rgb(233, 197, 37),
        110px 220px rgb(233, 197, 37),
        110px 230px rgb(0, 0, 0),
        110px 240px rgb(251, 255, 3),
        110px 250px rgb(251, 255, 3),
        110px 260px rgb(251, 255, 3),
        110px 270px rgb(251, 255, 3),
        110px 280px rgb(0, 0, 0),
        /**/
        120px 50px rgb(0, 0, 0),
        120px 60px rgb(251, 255, 3),
        120px 70px rgb(251, 255, 3),
        120px 80px rgb(251, 255, 3),
        120px 90px rgb(251, 255, 3),
        120px 100px rgb(251, 255, 3),
        120px 110px rgb(251, 255, 3),
        120px 120px rgb(251, 255, 3),
        120px 130px rgb(0, 0, 0),
        120px 140px rgb(243, 95, 9),
        120px 150px rgb(255, 129, 182),
        120px 160px rgb(255, 129, 182),
        120px 170px rgb(0, 0, 0),
        120px 180px rgb(233, 197, 37),
        120px 190px rgb(233, 197, 37),
        120px 200px rgb(251, 255, 3),
        120px 210px rgb(251, 255, 3),
        120px 220px rgb(251, 255, 3),
        120px 230px rgb(233, 197, 37),
        120px 240px rgb(0, 0, 0),
        120px 250px rgb(0, 0, 0),
        120px 260px rgb(0, 0, 0),
        120px 270px rgb(0, 0, 0),
        /**/
        130px 50px rgb(0, 0, 0),
        130px 60px rgb(251, 255, 3),
        130px 70px rgb(251, 255, 3),
        130px 80px rgb(251, 255, 3),
        130px 90px rgb(251, 255, 3),
        130px 100px rgb(251, 255, 3),
        130px 110px rgb(233, 197, 37),
        130px 120px rgb(251, 255, 3),
        130px 130px rgb(0, 0, 0),
        130px 140px rgb(243, 95, 9),
        130px 150px rgb(255, 129, 182),
        130px 160px rgb(255, 129, 182),
        130px 170px rgb(0, 0, 0),
        130px 180px rgb(233, 197, 37),
        130px 190px rgb(233, 197, 37),
        130px 200px rgb(251, 255, 3),
        130px 210px rgb(251, 255, 3),
        130px 220px rgb(251, 255, 3),
        130px 230px rgb(233, 197, 37),
        130px 240px rgb(233, 197, 37),
        130px 250px rgb(233, 197, 37),
        130px 260px rgb(0, 0, 0),
        /**/
        140px 50px rgb(0, 0, 0),
        140px 60px rgb(251, 255, 3),
        140px 70px rgb(251, 255, 3),
        140px 80px rgb(251, 255, 3),
        140px 90px rgb(251, 255, 3),
        140px 100px rgb(251, 255, 3),
        140px 110px rgb(0, 0, 0),
        140px 120px rgb(251, 255, 3),
        140px 130px rgb(0, 0, 0),
        140px 140px rgb(243, 95, 9),
        140px 150px rgb(243, 95, 9),
        140px 160px rgb(0, 0, 0),
        140px 170px rgb(233, 197, 37),
        140px 180px rgb(233, 197, 37),
        140px 190px rgb(233, 197, 37),
        140px 200px rgb(233, 197, 37),
        140px 210px rgb(233, 197, 37),
        140px 220px rgb(0, 0, 0),
        140px 230px rgb(0, 0, 0),
        140px 240px rgb(0, 0, 0),
        140px 250px rgb(0, 0, 0),
        140px 260px rgb(0, 0, 0),
        140px 270px rgb(0, 0, 0),
        /**/
        150px 50px rgb(0, 0, 0),
        150px 60px rgb(251, 255, 3),
        150px 70px rgb(251, 255, 3),
        150px 80px rgb(251, 255, 3),
        150px 90px rgb(251, 255, 3),
        150px 100px rgb(251, 255, 3),
        150px 110px rgb(251, 255, 3),
        150px 120px rgb(251, 255, 3),
        150px 130px rgb(251, 255, 3),
        150px 140px rgb(0, 0, 0),
        150px 150px rgb(0, 0, 0),
        150px 160px rgb(251, 255, 3),
        150px 170px rgb(233, 197, 37),
        150px 180px rgb(233, 197, 37),
        150px 190px rgb(233, 197, 37),
        150px 200px rgb(0, 0, 0),
        150px 210px rgb(0, 0, 0),
        150px 220px rgb(251, 255, 3),
        150px 230px rgb(251, 255, 3),
        150px 240px rgb(251, 255, 3),
        150px 250px rgb(251, 255, 3),
        150px 260px rgb(251, 255, 3),
        150px 270px rgb(251, 255, 3),
        150px 280px rgb(0, 0, 0),
        /**/
        160px 60px rgb(0, 0, 0),
        160px 70px rgb(251, 255, 3),
        160px 80px rgb(251, 255, 3),
        160px 90px rgb(251, 255, 3),
        160px 100px rgb(0, 0, 0),
        160px 110px rgb(0, 0, 0),
        160px 120px rgb(99, 58, 58),
        160px 130px rgb(251, 255, 3),
        160px 140px rgb(251, 255, 3),
        160px 150px rgb(251, 255, 3),
        160px 160px rgb(233, 197, 37),
        160px 170px rgb(233, 197, 37),
        160px 180px rgb(0, 0, 0),
        160px 190px rgb(233, 197, 37),
        160px 200px rgb(251, 255, 3),
        160px 210px rgb(251, 255, 3),
        160px 220px rgb(251, 255, 3),
        160px 230px rgb(251, 255, 3),
        160px 240px rgb(251, 255, 3),
        160px 250px rgb(233, 197, 37),
        160px 260px rgb(233, 197, 37),
        160px 270px rgb(233, 197, 37),
        160px 280px rgb(0, 0, 0),
        /**/
        170px 50px rgb(0, 0, 0),
        170px 60px rgb(251, 255, 3),
        170px 70px rgb(251, 255, 3),
        170px 80px rgb(251, 255, 3),
        170px 90px rgb(251, 255, 3),
        170px 100px rgb(255, 255, 255),
        170px 110px rgb(0, 0, 0),
        170px 120px rgb(99, 58, 58),
        170px 130px rgb(251, 255, 3),
        170px 140px rgb(251, 255, 3),
        170px 150px rgb(243, 95, 9),
        170px 160px rgb(243, 95, 9),
        170px 170px rgb(233, 197, 37),
        170px 180px rgb(0, 0, 0),
        170px 190px rgb(233, 197, 37),
        170px 200px rgb(251, 255, 3),
        170px 210px rgb(251, 255, 3),
        170px 220px rgb(251, 255, 3),
        170px 230px rgb(251, 255, 3),
        170px 240px rgb(233, 197, 37),
        170px 250px rgb(233, 197, 37),
        170px 260px rgb(0, 0, 0),
        170px 270px rgb(0, 0, 0),
        /**/
        180px 40px rgb(0, 0, 0),
        180px 50px rgb(251, 255, 3),
        180px 60px rgb(251, 255, 3),
        180px 70px rgb(251, 255, 3),
        180px 80px rgb(0, 0, 0),
        180px 90px rgb(251, 255, 3),
        180px 100px rgb(251, 255, 3),
        180px 110px rgb(251, 255, 3),
        180px 120px rgb(251, 255, 3),
        180px 130px rgb(251, 255, 3),
        180px 140px rgb(243, 95, 9),
        180px 150px rgb(243, 95, 9),
        180px 160px rgb(243, 95, 9),
        180px 170px rgb(0, 0, 0),
        180px 180px rgb(233, 197, 37),
        180px 190px rgb(251, 255, 3),
        180px 200px rgb(251, 255, 3),
        180px 210px rgb(251, 255, 3),
        180px 220px rgb(251, 255, 3),
        180px 230px rgb(233, 197, 37),
        180px 240px rgb(0, 0, 0),
        180px 250px rgb(0, 0, 0),
        180px 260px rgb(233, 197, 37),
        180px 270px rgb(233, 197, 37),
        180px 280px rgb(0, 0, 0),
        /**/
        190px 30px rgb(0, 0, 0),
        190px 40px rgb(251, 255, 3),
        190px 50px rgb(251, 255, 3),
        190px 60px rgb(233, 197, 37),
        190px 70px rgb(0, 0, 0),
        180px 80px rgb(255, 255, 255),
        190px 90px rgb(0, 0, 0),
        190px 100px rgb(0, 0, 0),
        190px 110px rgb(0, 0, 0),
        190px 120px rgb(251, 255, 3),
        190px 130px rgb(251, 255, 3),
        190px 140px rgb(243, 95, 9),
        190px 150px rgb(243, 95, 9),
        190px 160px rgb(0, 0, 0),
        190px 170px rgb(255, 255, 255),
        190px 180px rgb(0, 0, 0),
        190px 190px rgb(0, 0, 0),
        190px 200px rgb(251, 255, 3),
        190px 210px rgb(251, 255, 3),
        190px 220px rgb(233, 197, 37),
        190px 230px rgb(233, 197, 37),
        190px 240px rgb(251, 255, 3),
        190px 250px rgb(233, 197, 37),
        190px 260px rgb(233, 197, 37),
        190px 270px rgb(233, 197, 37),
        190px 280px rgb(0, 0, 0),
        /**/
        200px 20px rgb(0, 0, 0),
        200px 30px rgb(251, 255, 3),
        200px 40px rgb(251, 255, 3),
        200px 50px rgb(233, 197, 37),
        200px 60px rgb(233, 197, 37),
        200px 70px rgb(0, 0, 0),
        200px 90px rgb(0, 0, 0),
        200px 100px rgb(251, 255, 3),
        200px 110px rgb(251, 255, 3),
        200px 120px rgb(0, 0, 0),
        200px 130px rgb(0, 0, 0),
        200px 140px rgb(0, 0, 0),
        200px 150px rgb(0, 0, 0),
        200px 160px rgb(255, 255, 255),
        200px 170px rgb(0, 0, 0),
        200px 180px rgb(107, 22, 22),
        200px 190px rgb(107, 22, 22),
        200px 200px rgb(0, 0, 0),
        200px 210px rgb(0, 0, 0),
        200px 220px rgb(251, 255, 3),
        200px 230px rgb(251, 255, 3),
        200px 240px rgb(251, 255, 3),
        200px 250px rgb(0, 0, 0),
        200px 260px rgb(233, 197, 37),
        200px 270px rgb(233, 197, 37),
        200px 280px rgb(0, 0, 0),
        /**/
        210px 20px rgb(0, 0, 0),
        210px 30px rgb(251, 255, 3),
        210px 40px rgb(251, 255, 3),
        210px 50px rgb(233, 197, 37),
        210px 60px rgb(0, 0, 0),
        210px 80px rgb(0, 0, 0),
        210px 90px rgb(251, 255, 3),
        210px 100px rgb(251, 255, 3),
        210px 110px rgb(251, 255, 3),
        210px 120px rgb(233, 197, 37),
        210px 130px rgb(233, 197, 37),
        210px 140px rgb(233, 197, 37),
        210px 150px rgb(233, 197, 37),
        210px 160px rgb(0, 0, 0),
        210px 170px rgb(107, 22, 22),
        210px 180px rgb(107, 22, 22),
        210px 190px rgb(107, 22, 22),
        210px 200px rgb(0, 0, 0),
        210px 210px rgb(255, 255, 255),
        210px 220px rgb(0, 0, 0),
        210px 230px rgb(0, 0, 0),
        210px 240px rgb(0, 0, 0),
        210px 250px rgb(251, 255, 3),
        210px 260px rgb(233, 197, 37),
        210px 270px rgb(0, 0, 0),
        /**/
        220px 10px rgb(0, 0, 0),
        220px 20px rgb(251, 255, 3),
        220px 30px rgb(251, 255, 3),
        220px 40px rgb(233, 197, 37),
        220px 50px rgb(0, 0, 0),
        220px 70px rgb(0, 0, 0),
        220px 80px rgb(251, 255, 3),
        220px 90px rgb(251, 255, 3),
        220px 100px rgb(251, 255, 3),
        220px 110px rgb(251, 255, 3),
        220px 120px rgb(233, 197, 37),
        220px 130px rgb(0, 0, 0),
        220px 140px rgb(233, 197, 37),
        220px 150px rgb(233, 197, 37),
        220px 160px rgb(233, 197, 37),
        220px 170px rgb(233, 197, 37),
        220px 180px rgb(107, 22, 22),
        220px 190px rgb(0, 0, 0),
        220px 240px rgb(0, 0, 0),
        220px 250px rgb(251, 255, 3),
        220px 260px rgb(233, 197, 37),
        220px 270px rgb(0, 0, 0),
        /**/
        230px 10px rgb(0, 0, 0),
        230px 20px rgb(251, 255, 3),
        230px 30px rgb(0, 0, 0),
        230px 40px rgb(0, 0, 0),
        230px 70px rgb(0, 0, 0),
        230px 80px rgb(251, 255, 3),
        230px 90px rgb(251, 255, 3),
        230px 100px rgb(251, 255, 3),
        230px 110px rgb(233, 197, 37),
        230px 120px rgb(0, 0, 0),
        230px 140px rgb(0, 0, 0),
        230px 150px rgb(233, 197, 37),
        230px 160px rgb(233, 197, 37),
        230px 170px rgb(233, 197, 37),
        230px 180px rgb(0, 0, 0),
        230px 240px rgb(0, 0, 0),
        230px 250px rgb(251, 255, 3),
        230px 260px rgb(0, 0, 0),
        /**/
        240px 10px rgb(0, 0, 0),
        240px 20px rgb(0, 0, 0),
        240px 30px rgb(0, 0, 0),
        240px 60px rgb(0, 0, 0),
        240px 70px rgb(251, 255, 3),
        240px 80px rgb(251, 255, 3),
        240px 90px rgb(251, 255, 3),
        240px 100px rgb(251, 255, 3),
        240px 110px rgb(233, 197, 37),
        240px 120px rgb(0, 0, 0),
        240px 150px rgb(0, 0, 0),
        240px 160px rgb(233, 197, 37),
        240px 170px rgb(0, 0, 0),
        240px 250px rgb(0, 0, 0),
        /**/
        250px 10px rgb(0, 0, 0),
        250px 20px rgb(0, 0, 0),
        250px 60px rgb(0, 0, 0),
        250px 70px rgb(251, 255, 3),
        250px 80px rgb(251, 255, 3),
        250px 90px rgb(251, 255, 3),
        250px 100px rgb(251, 255, 3),
        250px 110px rgb(233, 197, 37),
        250px 120px rgb(0, 0, 0),
        250px 160px rgb(0, 0, 0),
        /**/
        260px 10px rgb(0, 0, 0),
        260px 50px rgb(0, 0, 0),
        260px 60px rgb(251, 255, 3),
        260px 70px rgb(251, 255, 3),
        260px 80px rgb(251, 255, 3),
        260px 90px rgb(251, 255, 3),
        260px 100px rgb(233, 197, 37),
        260px 110px rgb(233, 197, 37),
        260px 120px rgb(0, 0, 0),
        /**/
        270px 50px rgb(0, 0, 0),
        270px 60px rgb(251, 255, 3),
        270px 70px rgb(251, 255, 3),
        270px 80px rgb(251, 255, 3),
        270px 90px rgb(251, 255, 3),
        270px 100px rgb(0, 0, 0),
        270px 110px rgb(0, 0, 0),
        /**/
        280px 50px rgb(0, 0, 0),
        280px 60px rgb(0, 0, 0),
        280px 70px rgb(0, 0, 0),
        280px 80px rgb(0, 0, 0),
        280px 90px rgb(0, 0, 0),
        ;
        content: "";
        position: absolute;
        background: rgb(0, 0, 0);
    }
}